./saida
ED/*/pilha
ED/*/pilha2
ED/*/pilhaA
ED/*/fila
ED/*/filaJ
ED/*/filaG
ED/*/lista
ED/*/vetor
ED/*/aloc
ED/*/ordV
ED/*/merge
ED/*/quick
ED/*/heap
ED/*/listaG
ED/*/list2.c
ED/*/listaGabriel.c
ED/*/array
ED/*/pointer1
ED/*/pointer2
ED/*/struct1
OAC/*/cod
AP_1ano/*/p1
AP_1ano/*/primo
AP_1ano/*/primos

main
*.exe
forca.c
*.class
*.json
OAC/*/work

SO/.venv
/CG/03-08/nbproject/private/
/CG/03-08/build/
/CG/03-08/dist/
/CG/JPaint/nbproject/private/
/CG/08-06/nbproject/private/
/CG/08-06/build/
/CG/09-03/nbproject/private/
/CG/09-03/build/
