./saida
ED/*/pilha
ED/*/pilha2
ED/*/pilhaA
ED/*/fila
ED/*/filaJ
ED/*/filaG
ED/*/lista
ED/*/vetor
ED/*/aloc
ED/*/array
ED/*/pointer1
ED/*/pointer2
ED/*/struct1

main
*.exe
forca.c
*.class