./saida
ED/*/pilha
ED/*/pilha2
ED/*/pilhaA
ED/*/fila
ED/*/filaJ
ED/*/filaG
ED/*/lista
ED/*/vetor
ED/*/aloc
ED/*/listaG
ED/*/list2.c
ED/*/listaGabriel.c
ED/*/array
ED/*/pointer1
ED/*/pointer2
ED/*/struct1
OAC/*/cod
AP_1ano/*/p1
AP_1ano/*/primo
AP_1ano/*/primos

main
*.exe
forca.c
*.class
